.loginLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 380px;
  overflow: hidden;
  background: linear-gradient(135deg, #e0ecff 0%, #f0f5ff 45%, #f7f9fc 100%);
}

.loginForm {
  width: 368px;
  margin: 0 auto;
  z-index: 2;
}

.loginButton {
  width: 100%;
}

.logoBox {
  margin: 200px auto 40px;
}

.logo {
  height: 55px;
  margin-right: 8px;
  vertical-align: middle;
}

.logoName {
  position: relative;
  top: 8px;
  color: #999;
  font-weight: 600;
  font-size: 26px;
}

.tips {
  margin-top: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 13px;
}
